<div class="card <%= card.faction %> character">
    <div class="top-panel">
        <div class="left-panel">
            <div class="gold-box auto-size">
                <span class="card-cost"><%= card.cost %></span>
            </div>
            <div class="type-box">
                <span class="card-type">Character</span>
            </div>
            <div class="challenge-icon-box">
                <span class="icon-<%= card.icons.military ? 'military' : 'none' %>"></span>
                <span class="icon-<%= card.icons.intrigue ? 'intrigue' : 'none' %>"></span>
                <span class="icon-<%= card.icons.power ? 'power' : 'none' %>"></span>
            </div>
        </div>
        <div class="center-panel">
            <%- include("../Partials/Watermark", { card }) %>
        </div>
        <div class="right-panel">
            <div class="loyal-box">
                <span class="card-loyal"><%= card.loyal ? 'Loyal' : '' %></span>
            </div>
        </div>
    </div>
    <div class="center-panel">
        <div class="strength-box auto-size">
            <span class="card-strength"><%= card.strength %></span>
        </div>
        <div class="name-box auto-size">
            <span class="card-unique icon-<%= card.unique ? 'unique' : 'none' %>"></span>
            <span class="card-name"><%= card.name %></span>
        </div>
        <div class="faction-box">
            <span class="card-faction icon-<%= card.faction %>"></span>
        </div>
    </div>
    <div class="bottom-panel">
        <div class="text-box">
            <div class="traits-box">
                <span class="card-traits"><b><i><%= card.traits %></b></i></span>
            </div>
            <div class="ability-box auto-size">
                <span class="card-ability"><%- card.text %></span>
                <div class="card-designer"><%= card.designer ? card.designer : '' %></div>
            </div>
        </div>
    </div>
</div>