<div class="card <%= card.faction %> location">
    <div class="left-panel">
        <div class="gold-box auto-size">
            <span class="card-cost"><%= card.cost %></span>
        </div>
        <div class="type-box">
            <span class="card-type">Location</span>
        </div>
        <div class="name-box auto-size">
            <span class="card-unique icon-<%= card.unique ? 'unique' : 'none' %>"></span>
            <span class="card-name"><%= card.name %></span>
        </div>
        <div class="faction-box">
            <span class="card-faction icon-<%= card.faction %>"></span>
        </div>
        <div class="loyal-box">
            <span class="card-loyal"><%= card.loyal ? 'Loyal' : '' %></span>
        </div>
    </div>
    <div class="right-panel">
        <%- include("../Partials/Watermark", { card }) %>
        <div class="text-box">
            <div class="traits-box">
                <span class="card-traits"><b><i><%= card.traits %></b></i></span>
            </div>
            <div class="ability-box auto-size">
                <span class="card-ability"><%- card.text %></span>
                <div class="card-designer"><%= card.designer ? card.designer : '' %></div>
            </div>
        </div>
    </div>
</div>