<div class="card <%= card.faction %> plot">
    <div class="top-panel">
        <div class="left-panel">
            <span class="plot-stat income auto-size"><%= card.plotStats.income %></span>
            <span class="plot-stat initiative auto-size"><%= card.plotStats.initiative %></span>
            <span class="plot-stat claim auto-size"><%= card.plotStats.claim %></span>
        </div>
        <div class="right-panel">
            <div class="name-box auto-size">
                <span class="card-name"><%= card.name %></span>
            </div>
        </div>
    </div>
    <div class="center-panel">
        <div class="left-panel">
            <div class="type-box">
                <span class="card-type">Plot</span>
            </div>
            <div class="decklimit-box">
                <span class="card-decklimit"><%= card.deckLimit %></span>
            </div>
        </div>
        <div class="center-panel">
            <%- include("../Partials/Watermark", { card }) %>
        </div>
        <div class="right-panel">
            <div class="faction-box">
                <span class="card-faction icon-<%= card.faction %>"></span>
            </div>
            <div class="loyal-box">
                <span class="card-loyal"><%= card.loyal ? 'Loyal' : '' %></span>
            </div>
            <span class="plot-stat reserve auto-size"><%= card.plotStats.reserve %></span>
        </div>
    </div>
    <div class="bottom-panel">
        <div class="text-box">
            <div class="traits-box auto-size">
                <span class="card-traits"><b><i><%= card.traits %></b></i></span>
            </div>
            <div class="ability-box auto-size">
                <span class="card-ability"><%- card.text %></span>
                <div class="card-designer"><%= card.designer ? card.designer : '' %></div>
            </div>
        </div>
    </div>
</div>