<h2><%= emojis.ChangeLog %> Implementation requested for <%= implemented.name %> (<%= project.short %>)</h2>
<em>Date requested: <%= date %></em>
<br>
<h3>What needs to be done?</h3>
New card needs to be added to this repository, which will require a card file to be created and potentially code implementation.
<em>Note: Non-text box & keyword implementations are automatically processed with updates to [<%= jsonRepoData.name %>](<%- jsonRepoData.link %>).</em>

Implementing Card (<%= implemented.version %>)
:-------------------------:
![image](<%= implemented.imageUrl %>)
<br>
---
<br>
<h3>Implementation Steps</h3>
1. Create a branch from `development` (you may use a single branch for multiple implementations/updates)
2. Create & implement new card file for this card (within 'server/game/cards/<%= project.short %>'). Existing cards can be used as templates
3. (Important) Set the card version (near bottom of card) to `ImplementedCardClass.version = '<%= implemented.version %>'`
4. (Optional) Test the implementation locally
5. When ready (single or in bulk), create Pull Request into `development` branch, linking this issue in the description as 'Closes: #[this issue number]'
<br>
---
<br>
<em>:robot: Issue was automatically created, and will close itself when card implementation is pushed to the playtesting website.</em>