<h1><%= project.emoji || emojis.Playtesting %> <%= project.name %> - Playtesting Update <%= number %></h1>
This contains information for the latest playtesting update for the <b><%= project.name %></b> project. If you are hoping to contribute to this project, feel free to join the Design & Playtesting discord ([Invite here](https://discord.gg/HguMytPQV8)) to find out more!
<h3><%= emojis.PhysicalPlaytesting %> Physical Playtesting</h3>
[➥ All Cards](<%= pdf.all %>)<% if(pdf.updated) { %> | [➥ Changed Cards Only](<%= pdf.updated %>)<% } %>
These PDF documents should help you print & play files at home; simply print them locally, and slip them over existing cards!

<h3><%= emojis.DigitalPlaytesting %> Digital Playtesting</h3>
[➥ Playtesting Website](https://playtesting.theironthrone.net)
These changes should also be reflected on the online Playtesting instance of The Iron Throne. Please report any bugs you find by either [Creating a Github Issue](https://docs.github.com/en/issues/tracking-your-work-with-issues/creating-an-issue#creating-an-issue-from-a-repository) <em>(preferred)</em>, or posting in the [Bugs Channel](https://discord.com/channels/698308957822779462/1002176317007089697) on the Design & Playtesting discord.

<h2><%= emojis.ChangeNotes %> Card Change Notes</h2>
<%= notesLegend %>
<% for(const note of notes) { -%>
<b><%= note.icons %> <%= note.title -%></b>
<% if(note.text) { -%>
<%- note.text -%><br>
<% }
} -%>

---

<em>Last Updated: <%= date %></em>