<h2><%= emojis.ChangeLog %> Update requested for <%= reworked.name %></h2>
<em>Date requested: <%= date %></em>
<br>
<h3>What needs to be done?</h3>
Latest adjustment involves changes to this card's text box (<em>excluding keywords</em>), which will require code changes.
<em>Non-text box & keyword adjustments are automatically processed with updates to [<%= jsonRepoData.name %>](<%- jsonRepoData.link %>).</em>

Previous Version (<%= previous.version %>) | Updated Version (<%= reworked.version %>)
:-------------------------:|:-------------------------:
![image](<%= previous.imageUrl %>) |![image](<%= reworked.imageUrl %>)
<br>
<h3>Change Notes</h3>
<%= emojis.Reworked %> <b>Reworked</b> - <%- reworked.note %><br>
<br>
---
<br>
<h3>Implementation Steps</h3>
1. Create a branch from `development`
2. Update card file for this card (within 'server/game/cards/<%= project.short %>')
3. (Important) Update the card version (near bottom of file) to `UpdatedCardClass.version = '<%= reworked.version %>'`
4. (Optional) Test the implementation locally
5. When ready (single or in bulk), create Pull Request into `development` branch, linking this issue in the description as 'Closes: #[this issue number]'
<br>
---
<br>
<em>:robot: Issue was automatically created, and will close itself when card update is pushed to the playtesting website.</em>